div#cgit {
	background: white; margin: 0em; padding: 4px; color: rgb(51, 51, 51); font-family: sans-serif; font-size: 10pt;
}
div#cgit a {
	color: blue; text-decoration: none;
}
div#cgit a:hover {
	text-decoration: underline;
}
div#cgit table {
	border-collapse: collapse;
}
div#cgit table#header {
	width: 100%; margin-bottom: 1em;
}
div#cgit table#header td.logo {
	width: 96px; vertical-align: top;
}
div#cgit table#header td.main {
	padding-left: 10px; font-size: 250%; white-space: nowrap;
}
div#cgit table#header td.main a {
	color: rgb(0, 0, 0);
}
div#cgit table#header td.form {
	text-align: right; padding-right: 1em; padding-bottom: 2px; vertical-align: bottom; white-space: nowrap;
}
div#cgit table#header td.form form {
	font-size: 90%;
}
div#cgit table#header td.form input {
	font-size: 90%;
}
div#cgit table#header td.form select {
	font-size: 90%;
}
div#cgit table#header td.sub {
	color: rgb(119, 119, 119); padding-left: 10px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
div#cgit table.tabs {
	width: 100%; margin-top: 2em; margin-bottom: 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 3px; border-bottom-style: solid; border-collapse: collapse;
}
div#cgit table.tabs td {
	padding: 0px 1em; vertical-align: bottom;
}
div#cgit table.tabs td a {
	padding: 2px 0.75em; color: rgb(119, 119, 119); font-size: 110%;
}
div#cgit table.tabs td a.active {
	color: rgb(0, 0, 0); background-color: rgb(204, 204, 204);
}
div#cgit table.tabs td.form {
	text-align: right;
}
div#cgit table.tabs td.form form {
	padding-bottom: 2px; font-size: 90%; white-space: nowrap;
}
div#cgit table.tabs td.form input {
	font-size: 90%;
}
div#cgit table.tabs td.form select {
	font-size: 90%;
}
div#cgit div.path {
	margin: 0px; padding: 5px 2em 2px; color: rgb(0, 0, 0); background-color: rgb(238, 238, 238);
}
div#cgit div.content {
	margin: 0px; padding: 2em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 3px; border-bottom-style: solid;
}
div#cgit table.list {
	border: currentColor; border-image: none; width: 100%; border-collapse: collapse;
}
div#cgit table.list tr {
	background: white;
}
div#cgit table.list tr.logheader {
	background: rgb(238, 238, 238);
}
div#cgit table.list tr:hover {
	background: rgb(238, 238, 238);
}
div#cgit table.list tr.nohover:hover {
	background: white;
}
div#cgit table.list th {
	padding: 0.1em 0.5em 0.05em; font-weight: bold; vertical-align: baseline;
}
div#cgit table.list td {
	padding: 0.1em 0.5em; border: currentColor; border-image: none;
}
div#cgit table.list td.commitgraph {
	font-family: monospace; white-space: pre;
}
div#cgit table.list td.commitgraph .column1 {
	color: rgb(170, 0, 0);
}
div#cgit table.list td.commitgraph .column2 {
	color: rgb(0, 170, 0);
}
div#cgit table.list td.commitgraph .column3 {
	color: rgb(170, 170, 0);
}
div#cgit table.list td.commitgraph .column4 {
	color: rgb(0, 0, 170);
}
div#cgit table.list td.commitgraph .column5 {
	color: rgb(170, 0, 170);
}
div#cgit table.list td.commitgraph .column6 {
	color: rgb(0, 170, 170);
}
div#cgit table.list td.logsubject {
	font-family: monospace; font-weight: bold;
}
div#cgit table.list td.logmsg {
	padding: 0px 0.5em; font-family: monospace; white-space: pre;
}
div#cgit table.list td a {
	color: black;
}
div#cgit table.list td a.ls-dir {
	color: rgb(0, 0, 255); font-weight: bold;
}
div#cgit table.list td a:hover {
	color: rgb(0, 0, 255);
}
div#cgit img {
	border: currentColor; border-image: none;
}
div#cgit input#switch-btn {
	margin: 2px 0px 0px;
}
div#cgit td#sidebar input.txt {
	margin: 2px 0px 0px; width: 100%;
}
div#cgit table#grid {
	margin: 0px;
}
div#cgit td#content {
	padding: 1em 2em 1em 1em; border: currentColor; border-image: none; vertical-align: top;
}
div#cgit div#summary {
	margin-bottom: 1em; vertical-align: top;
}
div#cgit table#downloads {
	border: 1px solid rgb(119, 119, 119); border-image: none; margin-bottom: 0.5em; margin-left: 0.5em; float: right; border-collapse: collapse;
}
div#cgit table#downloads th {
	background-color: rgb(204, 204, 204);
}
div#cgit div#blob {
	border: 1px solid black; border-image: none;
}
div#cgit div.error {
	margin: 1em 2em; color: red; font-weight: bold;
}
div#cgit a.ls-blob {
	font-family: monospace;
}
div#cgit a.ls-dir {
	font-family: monospace;
}
div#cgit a.ls-mod {
	font-family: monospace;
}
div#cgit td.ls-size {
	width: 10em; text-align: right; font-family: monospace;
}
div#cgit td.ls-mode {
	width: 10em; font-family: monospace;
}
div#cgit table.blob {
	margin-top: 0.5em; border-top-color: black; border-top-width: 1px; border-top-style: solid;
}
div#cgit table.blob td.lines {
	margin: 0px; padding: 0px 0px 0px 0.5em; color: black; vertical-align: top;
}
div#cgit table.blob td.linenumbers {
	margin: 0px; padding: 0px 0.5em; text-align: right; vertical-align: top; border-right-color: gray; border-right-width: 1px; border-right-style: solid;
}
div#cgit table.blob pre {
	margin: 0px; padding: 0px;
}
div#cgit table.blob a.no {
	text-align: right; color: gray; text-decoration: none;
}
div#cgit table.ssdiff a.no {
	text-align: right; color: gray; text-decoration: none;
}
div#cgit table.blob a.no a:hover {
	color: black;
}
div#cgit table.bin-blob {
	border: 1px solid black; border-image: none; margin-top: 0.5em;
}
div#cgit table.bin-blob th {
	padding: 0.5em 1em; border: 1px solid rgb(119, 119, 119); border-image: none; font-family: monospace; white-space: pre;
}
div#cgit table.bin-blob td {
	padding: 0em 1em; font-family: monospace; border-left-color: rgb(119, 119, 119); border-left-width: 1px; border-left-style: solid; white-space: pre;
}
div#cgit table.nowrap td {
	white-space: nowrap;
}
div#cgit table.commit-info {
	margin-top: 1.5em; border-collapse: collapse;
}
div#cgit div.cgit-panel {
	margin-top: 1.5em; float: right;
}
div#cgit div.cgit-panel table {
	border: 1px solid rgb(170, 170, 170); border-image: none; border-collapse: collapse; background-color: rgb(238, 238, 238);
}
div#cgit div.cgit-panel th {
	text-align: center;
}
div#cgit div.cgit-panel td {
	padding: 0.25em 0.5em;
}
div#cgit div.cgit-panel td.label {
	padding-right: 0.5em;
}
div#cgit div.cgit-panel td.ctrl {
	padding-left: 0.5em;
}
div#cgit table.commit-info th {
	padding: 0.1em 1em 0.1em 0.1em; text-align: left; font-weight: normal; vertical-align: top;
}
div#cgit table.commit-info td {
	padding: 0.1em 1em 0.1em 0.1em; font-weight: normal;
}
div#cgit div.commit-subject {
	margin: 1.5em 0em 0.5em; padding: 0em; font-size: 125%; font-weight: bold;
}
div#cgit div.commit-msg {
	font-family: monospace; white-space: pre;
}
div#cgit div.notes-header {
	padding-top: 1.5em; font-weight: bold;
}
div#cgit div.notes {
	padding: 0.3em 2em 0.3em 1em; border: 1px solid rgb(238, 238, 153); border-image: none; font-family: monospace; float: left; white-space: pre; background-color: rgb(255, 255, 221);
}
div#cgit div.notes-footer {
	clear: left;
}
div#cgit div.diffstat-header {
	padding-top: 1.5em; font-weight: bold;
}
div#cgit table.diffstat {
	border: 1px solid rgb(170, 170, 170); border-image: none; border-collapse: collapse; background-color: rgb(238, 238, 238);
}
div#cgit table.diffstat th {
	padding: 0.1em 1em 0.1em 0.1em; text-align: left; font-size: 100%; font-weight: normal; text-decoration: underline;
}
div#cgit table.diffstat td {
	padding: 0.2em 0.2em 0.1em 0.1em; border: currentColor; border-image: none; font-size: 100%;
}
div#cgit table.diffstat td.mode {
	white-space: nowrap;
}
div#cgit table.diffstat td span.modechange {
	color: red; padding-left: 1em;
}
div#cgit table.diffstat td.add a {
	color: green;
}
div#cgit table.diffstat td.del a {
	color: red;
}
div#cgit table.diffstat td.upd a {
	color: blue;
}
div#cgit table.diffstat td.graph {
	width: 500px; vertical-align: middle;
}
div#cgit table.diffstat td.graph table {
	border: currentColor; border-image: none;
}
div#cgit table.diffstat td.graph td {
	padding: 0px; border: 0px currentColor; border-image: none; height: 7pt;
}
div#cgit table.diffstat td.graph td.add {
	background-color: rgb(85, 204, 85);
}
div#cgit table.diffstat td.graph td.rem {
	background-color: rgb(204, 85, 85);
}
div#cgit div.diffstat-summary {
	color: rgb(136, 136, 136); padding-top: 0.5em;
}
div#cgit table.diff {
	width: 100%;
}
div#cgit table.diff td {
	font-family: monospace; white-space: pre;
}
div#cgit table.diff td div.head {
	color: black; font-weight: bold; margin-top: 1em;
}
div#cgit table.diff td div.hunk {
	color: rgb(0, 0, 153);
}
div#cgit table.diff td div.add {
	color: green;
}
div#cgit table.diff td div.del {
	color: red;
}
div#cgit .sha1 {
	font-family: monospace; font-size: 90%;
}
div#cgit .left {
	text-align: left;
}
div#cgit .right {
	text-align: right;
}
div#cgit table.list td.reposection {
	color: rgb(136, 136, 136); font-style: italic;
}
div#cgit a.button {
	padding: 0em 0.5em; font-size: 80%;
}
div#cgit a.primary {
	font-size: 100%;
}
div#cgit a.secondary {
	font-size: 90%;
}
div#cgit td.toplevel-repo {
	
}
div#cgit table.list td.sublevel-repo {
	padding-left: 1.5em;
}
div#cgit div.pager {
	margin: 1em 0em 0em; text-align: center;
}
div#cgit div.pager a {
	margin: 0em 0.5em; color: rgb(119, 119, 119);
}
div#cgit span.age-mins {
	color: rgb(0, 136, 0); font-weight: bold;
}
div#cgit span.age-hours {
	color: rgb(0, 136, 0);
}
div#cgit span.age-days {
	color: rgb(0, 68, 0);
}
div#cgit span.age-weeks {
	color: rgb(68, 68, 68);
}
div#cgit span.age-months {
	color: rgb(136, 136, 136);
}
div#cgit span.age-years {
	color: rgb(187, 187, 187);
}
div#cgit div.footer {
	text-align: center; color: rgb(204, 204, 204); font-size: 80%; margin-top: 0.5em;
}
div#cgit a.branch-deco {
	margin: 0px 0.5em; padding: 0px 0.25em; border: 1px solid rgb(0, 119, 0); border-image: none; color: rgb(0, 0, 0); background-color: rgb(136, 255, 136);
}
div#cgit a.tag-deco {
	margin: 0px 0.5em; padding: 0px 0.25em; border: 1px solid rgb(119, 119, 0); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 136);
}
div#cgit a.remote-deco {
	margin: 0px 0.5em; padding: 0px 0.25em; border: 1px solid rgb(0, 0, 119); border-image: none; color: rgb(0, 0, 0); background-color: rgb(204, 204, 255);
}
div#cgit a.deco {
	margin: 0px 0.5em; padding: 0px 0.25em; border: 1px solid rgb(119, 0, 0); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 136, 136);
}
div#cgit div.commit-subject a.branch-deco {
	font-size: 75%; margin-left: 1em;
}
div#cgit div.commit-subject a.tag-deco {
	font-size: 75%; margin-left: 1em;
}
div#cgit div.commit-subject a.remote-deco {
	font-size: 75%; margin-left: 1em;
}
div#cgit div.commit-subject a.deco {
	font-size: 75%; margin-left: 1em;
}
div#cgit table.stats {
	border: 1px solid black; border-image: none; border-collapse: collapse;
}
div#cgit table.stats th {
	padding: 1px 0.5em; border: 1px solid black; border-image: none; text-align: left; background-color: rgb(238, 238, 238);
}
div#cgit table.stats td {
	padding: 1px 0.5em; border: 1px solid black; border-image: none; text-align: right;
}
div#cgit table.stats td.total {
	text-align: left; font-weight: bold;
}
div#cgit table.stats td.sum {
	color: rgb(204, 0, 0); font-weight: bold;
}
div#cgit table.stats td.left {
	text-align: left;
}
div#cgit table.vgraph {
	border: 1px solid black; border-image: none; height: 200px; border-collapse: separate;
}
div#cgit table.vgraph th {
	padding: 1px 0.5em; border: 1px solid white; border-image: none; font-weight: bold; background-color: rgb(238, 238, 238);
}
div#cgit table.vgraph td {
	padding: 0px 10px; vertical-align: bottom;
}
div#cgit table.vgraph div.bar {
	background-color: rgb(238, 238, 238);
}
div#cgit table.hgraph {
	border: 1px solid black; border-image: none; width: 800px;
}
div#cgit table.hgraph th {
	padding: 1px 0.5em; border: 1px solid black; border-image: none; font-weight: bold; background-color: rgb(238, 238, 238);
}
div#cgit table.hgraph td {
	padding: 2px; vertical-align: middle;
}
div#cgit table.hgraph div.bar {
	height: 1em; background-color: rgb(238, 238, 238);
}
div#cgit table.ssdiff {
	width: 100%;
}
div#cgit table.ssdiff td {
	padding: 1px 4px; font-family: monospace; font-size: 75%; border-right-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; white-space: pre;
}
div#cgit table.ssdiff td.add {
	background: rgb(204, 255, 204); color: black; min-width: 50%;
}
div#cgit table.ssdiff td.add_dark {
	background: rgb(170, 204, 170); color: black; min-width: 50%;
}
div#cgit table.ssdiff span.add {
	background: rgb(204, 255, 204); font-weight: bold;
}
div#cgit table.ssdiff td.del {
	background: rgb(255, 204, 204); color: black; min-width: 50%;
}
div#cgit table.ssdiff td.del_dark {
	background: rgb(204, 170, 170); color: black; min-width: 50%;
}
div#cgit table.ssdiff span.del {
	background: rgb(255, 204, 204); font-weight: bold;
}
div#cgit table.ssdiff td.changed {
	background: rgb(255, 255, 204); color: black; min-width: 50%;
}
div#cgit table.ssdiff td.changed_dark {
	background: rgb(204, 204, 170); color: black; min-width: 50%;
}
div#cgit table.ssdiff td.lineno {
	background: rgb(238, 238, 238); width: 3em; text-align: right; color: black; min-width: 3em;
}
div#cgit table.ssdiff td.hunk {
	background: rgb(204, 204, 255); color: black; border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
div#cgit table.ssdiff td.head {
	border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
div#cgit table.ssdiff td.head div.head {
	color: black; font-weight: bold;
}
div#cgit table.ssdiff td.foot {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(170, 170, 170) currentColor currentColor;
}
div#cgit table.ssdiff td.space {
	border: currentColor; border-image: none;
}
div#cgit table.ssdiff td.space div {
	min-height: 3em;
}
div#cgit table.blob .num {
	color: rgb(41, 40, 255);
}
div#cgit table.blob .esc {
	color: rgb(255, 0, 255);
}
div#cgit table.blob .str {
	color: rgb(255, 0, 0);
}
div#cgit table.blob .dstr {
	color: rgb(129, 129, 0);
}
div#cgit table.blob .slc {
	color: rgb(131, 129, 131); font-style: italic;
}
div#cgit table.blob .com {
	color: rgb(131, 129, 131); font-style: italic;
}
div#cgit table.blob .dir {
	color: rgb(0, 130, 0);
}
div#cgit table.blob .sym {
	color: rgb(0, 0, 0);
}
div#cgit table.blob .kwa {
	color: rgb(0, 0, 0); font-weight: bold;
}
div#cgit table.blob .kwb {
	color: rgb(131, 0, 0);
}
div#cgit table.blob .kwc {
	color: rgb(0, 0, 0); font-weight: bold;
}
div#cgit table.blob .kwd {
	color: rgb(1, 1, 129);
}
